.activity-chart{
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}
.small-chart{
    border-radius: 5px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    width: 48%;
    min-width: 400px;
    flex-grow: 1;
    height: 300px;
    padding: 10px;
}
.charts-container{
    margin: 0 auto;
    width: 95%;
    gap: 10px;
}
.flex-wrap{
    flex-wrap: wrap;
}